<!DOCTYPE html>
<html>
<head>
    <title>Create Expense</title>
    <script>
        function updateFields() {
            var splitMethod = document.getElementById('id_split_method').value;
            document.getElementById('equal_splits').style.display = splitMethod === 'E' ? 'block' : 'none';
            document.getElementById('percentage_splits').style.display = splitMethod === 'P' ? 'block' : 'none';
            document.getElementById('custom_splits').style.display = splitMethod === 'C' ? 'block' : 'none';
        }

        window.onload = function() {
            updateFields(); 
        }
    </script>
</head>
<body>
    <h1>Create Expense for {{ group.name }}</h1>
    <form method="post">
        {% csrf_token %}
        
        {{ form.as_p }}
        
        <input type="submit" value="Submit" />
    </form>
    
    {% if next %}
    {% include 'split_expense.html'%}
    {% endif %}
    <a href="{% url 'home' %}">Cancel</a>
</body>
</html>
