<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
    <title>Home Page</title>
  </head>
<body>
  {% block navbar %}
    {% include "nav.html" %}
  {% endblock navbar %}

    <div class="container mt-4">
        <h1 class="mb-4">Split Expense</h1>
        {% if groups %}
            <div class="mt-4">
                <h2>Groups:</h2>
                <ul class="list-group">
                    {% for group in groups %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            {{ group.name }}
                            <form class="ml-2">
                                <input type="hidden" name="group_id" value="{{ group.id }}">
                                <a href="?view_group_id={{ group.id }}">
                                  <button type="submit" class="btn btn-info btn-sm" onclick="toggleMembers()">Show Members</button>
                                </a>
                                {% if view_group_id == group.id|stringformat:"s" %}
                                <ul id="members-list" >
                                    {% for friend in group.members.all %}
                                        <li>{{ friend }}</li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                              </form>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% if members %}
            <div class="mt-4">
                <h2>Members of {{ group.name }}:</h2>
                <ul class="list-group">
                    {% for member in members %}
                        <li class="list-group-item">{{ member.name }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
  </body>
</html>
